*{
    margin:0;
    padding:0;
    background-color:#eee;
}

header{
    width:100%;
    border-bottom: 2px solid #000;
}

@media (min-width: 481px) {
    #container{
        display:flex;
        flex-direction: row;
    }
    
    .theBox{
        
        width:30%;
        margin:0 10px;
        height:300px;
        background-color:#0f0;
    }
    header{
        height:120px;
        margin-bottom:5px;
    }
        header h1{
        font-size: 6em;
    }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
    #container{
        display:flex;
        flex-direction: column;
    }
    
   .theBox{
        width:100%;
        margin:10px 0;
        height:150px;
        background-color:#0ff;
    }
    header{
        height:60px;
    }
    header h1{
        font-size: 3em;
    }
  
}